.container-table {
  max-width: 1344px;
  height: 60px;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
}
.date-create-item{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
}
.btn-dropdrown{
  border: 0px solid;
}
.dropdown-item{
  cursor: pointer;
}
.items-table{
  vertical-align: middle;
}
